:root {
--very_dark_blue: hsl(233, 47%, 7%);
--dark_desaturated_blue: hsl(244, 38%, 16%);
--soft_violet: hsl(277, 64%, 61%);
--heading: hsl(0, 0%, 100%);
--main_p: hsla(0, 0%, 100%, 0.75);
--stats: hsla(0, 0%, 100%, 0.6);
--inter: 'Inter', sans-serif;
--deca: 'Lexend Deca', sans-serif;
}
/* - Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 */


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #888;
    font-size: 15px;
    font-family: var(--inter);
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
#business_card{
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    background-image: url(images/image-header-desktop.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--soft_violet);
    background-blend-mode: multiply;
}
#info{
    width: 50%;
    background-color: var(--very_dark_blue);
}
#banner{
    

}
h1{
    font-weight: 700;
}
h2{}
h3{
    font-family: var(--deca);
}
p{
    font-family: var(--deca);
}
.attribution{
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
@media only screen and (width: 375px){
    body{
        /* some code.... */
    }
}

@media only screen and (width: 1440px){
    body{
        /* some code.... */
    }
}