:root {
--soft_violet: hsl(277, 64%, 61%);
--heading: hsl(0, 0%, 100%);
--main_p: hsla(0, 0%, 100%, 0.75);
--stats: hsla(0, 0%, 100%, 0.6);
--inter: 'Inter', sans-serif;
--deca: 'Lexend Deca', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(233, 47%, 7%);
    color: var(--main_p);
    font-size: 15px;
    font-family: var(--inter);
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}
#business_card{
    width: 80vw;
    display: flex;
}
.text{
    width: 50%;
    background-color: hsl(244, 38%, 16%);
    color: var(--heading);
    border-radius: 5px 0 0 5px;
}
.info{
    padding: 5em;
}
.image{
    width: 50%;
    background-image: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--soft_violet);
    background-blend-mode: multiply;
    border-radius: 0 5px 5px 0;
}
h1{
    font-size: 2em;
    padding: 0 0 1em 0;
}
span{
    color: var(--soft_violet);
}
p{
    font-size: 1em;
    font-family: var(--deca);
    color: var(--stats);
}
.stats{
    padding: 0 5em 5em 5em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.stat:first-of-type div:first-of-type{
    text-transform:lowercase;
}
.stat{
    font-size: 1.5em;
    font-weight: 700;
}
.stat div{
    font-size: 0.8em;
    font-family: var(--deca);
    color: var(--heading);
    padding: .5em 0;
}
.stat div:nth-child(2){
    font-family: var(--inter);
    color: var(--stats);
    font-size: .5em;
}
.attribution{
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 375px){
    #business_card{
        flex-direction: column-reverse;
    }
    .text{
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
    .info{
        padding: 1em;
        text-align: center;
    }
    .image{
        width: 100%;
        background-position: bottom;
        background-size: 100% 100%;
        height: 250px;
        border-radius: 5px 5px 0 0;
    }
    .stats{
        padding: 0 0 2em;
        text-align: center;
        flex-direction: column;
    }
    .stat{
        padding: 1em 0 0;
    }
    .stat div{
        padding: 0;
    }
    .attribution{
        display: none;
    }
}